@inject IConfiguration Configuration


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Azure AI Hub demo</title>

    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />

    <script src="/js/config.js"></script>
    <link rel="stylesheet" href="/css/main.min.css" type="text/css" id="app-style" />
    <link rel="stylesheet" href="/css/icons.min.css" type="text/css" />
</head>

<body>
    <div class="wrapper">

        <!-- ========== Topbar Start ========== -->
        <div class="navbar-custom">
            <div class="topbar container-fluid">
                <div class="d-flex align-items-center gap-lg-2 gap-1">

                    <!-- Topbar Brand Logo -->
                    <div class="logo-topbar">
                        <!-- Logo light -->
                        <a href="index.html" class="logo-light">
                            <span class="logo-lg">
                                <img src="/images/aihub-logo.png" alt="AI Hub">
                                @* <img id="logo" src="/images/favicon.ico" class="img-fluid rounded-start" alt="logo">
                                *@
                            </span>
                            <span class="logo-sm">
                                <img src="/images/aihub-logo-icon.png" alt="AI Hub">
                            </span>
                        </a>

                        <!-- Logo Dark -->
                        <a href="index.html" class="logo-dark">
                            <span class="logo-lg">
                                <img src="/images/aihub-logo.png" alt="AI Hub">
                                @* <img id="logo" src="/images/favicon.ico" class="img-fluid rounded-start" alt="logo">
                                *@
                            </span>
                            <span class="logo-lg">
                                <img src="/images/aihub-logo-icon.png" alt="AI Hub">
                            </span>
                        </a>
                    </div>

                    <!-- Sidebar Menu Toggle Button -->
                    <button class="button-toggle-menu">
                        <i class="mdi mdi-menu"></i>
                    </button>

                    <!-- Horizontal Menu Toggle Button -->
                    <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>

                    <!-- Topbar Search Form -->
                    @* <div class="app-search dropdown d-none d-lg-block">
                    <form>
                    <div class="input-group">
                    <input type="search" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
                    <span class="mdi mdi-magnify search-icon"></span>
                    <button class="input-group-text btn btn-primary" type="submit">Search</button>
                    </div>
                    </form>
                    </div> *@
                </div>

                <ul class="topbar-menu d-flex align-items-center">
                    <li class="dropdown d-lg-none">
                        <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <i class="ri-search-line font-22"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                            <form class="p-3">
                                <input type="search" class="form-control" placeholder="Search ..."
                                    aria-label="Recipient's username">
                            </form>
                        </div>
                    </li>

                    <li class="d-none d-md-inline-block px-2">
                        <a class="nav-link" href="" data-toggle="fullscreen">
                            <i class="ri-fullscreen-line font-22"></i>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle arrow-none nav-user px-1" data-bs-toggle="dropdown" href="#"
                            role="button" aria-haspopup="false" aria-expanded="false">
                            <span class="account-user-avatar">
                                <img src="~/images/users/profile.jpg" alt="user-image" width="32"
                                    class="rounded-circle">
                            </span>
                            <span class="d-lg-flex flex-column gap-1 d-none">
                                <h5 class="my-0">@(String.IsNullOrEmpty(Context.User?.Identity?.Name) ? Environment.UserName : Context.User.Identity.Name)</h5>
                                @* <h6 class="my-0 fw-normal">Chief Financial Officer</h6> *@
                            </span>
                        </a>
                        @* <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                        <!-- item-->
                        <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome !</h6>
                        </div>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>My Account</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">
                        <i class="mdi mdi-account-edit me-1"></i>
                        <span>Settings</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">
                        <i class="mdi mdi-lifebuoy me-1"></i>
                        <span>Support</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">
                        <i class="mdi mdi-lock-outline me-1"></i>
                        <span>Lock Screen</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Logout</span>
                        </a>
                        </div> *@
                    </li>

                    <li class="nav-link arrow-none nav-user px-2">
                        <!--<a class="nav-link" href="http://www.microsoft.com" target="blank">-->
                        <span class="logo-lg"><img src="/images/customer/plain-concepts-logo@2x.png"></span>
                        
                        <!--</a>-->
                    </li>
                </ul>
            </div>
        </div>
        <!-- ========== Topbar End ========== -->

        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- Brand Logo Light -->
            <a asp-controller="Home" asp-action="Index" class="logo logo-light">
                <span class="logo-lg">
                    <img src="/images/aihub-logo.png" alt="AI Hub">
                    @* <img id="logo" src="/images/favicon.ico" class="img-fluid rounded-start" alt="logo"> *@
                </span>
                <span class="logo-sm">
                    <img src="/images/aihub-logo-icon.png" alt="AI Hub">
                </span>
            </a>

            <!-- Brand Logo Dark -->
            <a asp-controller="Home" asp-action="Index" class="logo logo-dark">
                <span class="logo-lg">
                    <img src="/images/aihub-logo.png" alt="AI Hub">
                    @* <img id="logo" src="/images/favicon.ico" class="img-fluid rounded-start" alt="logo"> *@
                </span>
                <span class="logo-sm">
                    <img src="/images/aihub-logo-icon.png" alt="AI Hub">
                </span>
            </a>

            <!-- Sidebar Hover Menu Toggle Button -->
            <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
                <i class="ri-checkbox-blank-circle-line align-middle"></i>
            </div>

            <!-- Full Sidebar Menu Close Button -->
            <div class="button-close-fullsidebar">
                <i class="ri-close-fill align-middle"></i>
            </div>

            <!-- Sidebar -left -->
            <div class="h-100" id="leftside-menu-container" data-simplebar>
                <!-- Leftbar User -->
                <div class="leftbar-user">
                    <a href="pages-profile.html">
                        <img src="~/images/users/profile.jpg" alt="user-image" height="42"
                            class="rounded-circle shadow-sm">
                        <span class="leftbar-user-name mt-2">John Doe</span>
                    </a>
                </div>

                <!--- Sidemenu -->
                <ul class="side-nav">

@*                     <li class="side-nav-title">
                        <center>Responsible AI & Innovation Center</center>
                    </li>
 *@
                   @*  <li class="side-nav-item">
                        <a class="side-nav-link" target="_blank"
                            href="https://news.microsoft.com/es-es/2024/02/20/microsoft-crea-un-centro-de-innovacion-en-ia-responsable-para-ayudar-a-las-organizaciones-espanolas-en-el-despliegue-de-proyectos-de-inteligencia-artificial/">
                            <i class="uil-link"></i>
                            <span> Learn about RAIIC </span>
                        </a>
                    </li> *@


                    @* <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false"
                    aria-controls="sidebarDashboards" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Dashboards </span>
                    </a>
                    <div class="collapse" id="sidebarDashboards">
                    <ul class="side-nav-second-level">
                    <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                    <a asp-controller="Dashboard" asp-action="Banking">Banking</a>
                    </li>
                    <li>
                    <a asp-controller="Dashboard" asp-action="Industry">Industry</a>
                    </li>
                    <li>
                    <a asp-controller="Dashboard" asp-action="Insurance">Insurance</a>
                    </li>
                    <li>
                    <a href="Public Sector.html">Public Sector</a>
                    </li>
                    <li>
                    <a href="Telco.html">Telco</a>
                    </li>
                    <li>
                    <a asp-controller="Dashboard" asp-action="Utilities">Utilities</a>
                    </li>
                    </ul>
                    </div>
                    </li> *@

                    <li class="side-nav-title">Use Cases</li>
                    <li class="side-nav-item">
                        <a class="side-nav-link" href="@Url.Action("ChatOnYourData", "ChatOnYourData")">
                            <i class="uil-comments-alt"></i>
                            <span> Chat on your Data </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a class="side-nav-link" href="@Url.Action("AudioTranscription", "AudioTranscription")">
                            <i class="uil-intercom"></i>
                            <span> Audio Transcription </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a class="side-nav-link" href="@Url.Action("CallCenter", "CallCenter")">
                            <i class="uil-headphones"></i>
                            <span> Call Center Analytics </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a class="side-nav-link" href="@Url.Action("ImageAnalyzer", "ImageAnalyzer")">
                            <i class="uil-image-search"></i>
                            <span> Image Analyzer </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a class="side-nav-link" href="@Url.Action("VideoAnalyzer", "VideoAnalyzer")">
                            <i class=" uil-video"></i>
                            <span> Video Analyzer </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a class="side-nav-link" href="@Url.Action("FormAnalyzer", "FormAnalyzer")">
                            <i class="uil-file-search-alt"></i>
                            <span> Form Analyzer </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a class="side-nav-link" href="@Url.Action("DocumentComparison", "DocumentComparison")">
                            <i class="uil-copy"></i>
                            <span> Document Comparison </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a class="side-nav-link" href="@Url.Action("BrandAnalyzer", "BrandAnalyzer")">
                            <i class="uil-store-alt"></i>
                            <span> Brand Analyzer </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarProjects" aria-expanded="false"
                            aria-controls="sidebarProjects" class="side-nav-link">
                            <i class="uil-comment-shield"></i>
                            <span> Content Safety </span>
                        </a>
                        <div class="collapse" id="sidebarProjects">
                            <ul class="side-nav-second-level">
                                <li>
                                    <a href="@Url.Action("ImageModerator", "ContentSafety")">Image Moderator</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("TextModerator", "ContentSafety")">Text Moderator</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="side-nav-item">
                        <a class="side-nav-link" href="@Url.Action("JailBreakDetection", "ContentSafety")">
                            <i class="uil-shield-slash"></i>
                            <span> Jailbreak Detection </span>
                        </a>
                    </li>


                </ul>
                <!--- End Sidemenu -->

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- ========== Left Sidebar End ========== -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                @RenderBody()
            </div> <!-- content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <script>document.write(new Date().getFullYear())</script> © Copyright - Plain Concepts
                            - v.@FileVersionInfo.GetVersionInfo(typeof(MVCWeb.Controllers.DashboardController).Assembly.Location).ProductVersion
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-md-block">
                                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>

    <script src="/js/vendor.min.js" asp-append-version="true"></script>
    <script src="/js/app.min.js" asp-append-version="true"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
